In [2]:
import pandas as pd
import numpy as np

C:\Users\qf3636ll\AppData\Local\Temp\ipykernel_10676\2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
rcc = pd.read_csv("rcc_stuSemesters.csv")  #a list of every semester that a student enrolled in and attended at least one course
other = pd.read_csv("other_stuSemesters.csv") #a list from APPSODS.TRANSFERS 
cohort23 = pd.read_csv("cohort23.csv")  #my list of a single FY cohort of students beginning in FY2020; taken from APPSODS.V_STUDENT_PERSISTENCE_DTL2
allColleges = pd.concat([rcc, other])  #a list of every semester that a student enrolled in anywhere

In [4]:
cohort_list = cohort23['TECH_ID'].unique().tolist()  #establish the group of people you want to run through this df
#IMPORTANT that you do not loop the allColleges df because it WILL take 45 minutes to execute

The below loop is currently catered to cohort FY20 of students ADM_STAT 11 or 12.
If you are not using a cohort of from APPSODS.V_STUDENT_PERSISTENCE_DTL2 or another table that establishes a start date, this WILL NOT WORK.
You will need to tweak the years as you do more cohorts

In [5]:
df_enr = pd.DataFrame(columns=['TECH_ID','_20201','_20203','_20205','_20211','_20213','_20215','_20221','_20223','_20225','20231','20233','20235','20241','20243','20245'])
#semester columns that are preceded with a _ means that those columns only looked in the "other" schools df because these semesters occurred before the student began at RCC
for i in cohort_list:
    a201,a203,a205,a211,a213,a215,a221,a223,a225,a231,a233,a235,a241,a243,a245 = 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
    stu = i
    stu_df = allColleges.loc[allColleges['TECH_ID']==i,:]
    stu_df2 = other.loc[other['TECH_ID']==i,:]
    yrtrs = stu_df['YRTR'].unique().tolist()
    yrtrs2 = stu_df2['YRTR'].unique().tolist()
##############################

##############################
    #2023
##############################
    if 20231 in yrtrs:
        collist_231 = stu_df.loc[stu_df['YRTR']==20231,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_231:
            a231 = 'RCC'
        else:
            a231 = collist_231[0]
    else:
        a231 = 0

    if 20233 in yrtrs:
        collist_233 = stu_df.loc[stu_df['YRTR']==20233,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_233:
            a233 = 'RCC'
        else:
            a233 = collist_233[0]
    else:
        a233 = 0

    if 20235 in yrtrs:
        collist_235 = stu_df.loc[stu_df['YRTR']==20235,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_235:
            a235 = 'RCC'
        else:
            a235 = collist_235[0]
    else:
        a235 = 0
##############################
##############################
    #2024
##############################
    if 20241 in yrtrs:
        collist_241 = stu_df.loc[stu_df['YRTR']==20241,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_241:
            a241 = 'RCC'
        else:
            a241 = collist_241[0]
    else:
        a241 = 0

    if 20243 in yrtrs:
        collist_243 = stu_df.loc[stu_df['YRTR']==20243,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_243:
            a243 = 'RCC'
        else:
            a243 = collist_243[0]
    else:
        a243 = 0

    if 20245 in yrtrs:
        collist_245 = stu_df.loc[stu_df['YRTR']==20245,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_245:
            a245 = 'RCC'
        else:
            a245 = collist_245[0]
    else:
        a245 = 0
##############################
##############################
##############################
    #begin TRANSFERRED-FROM section
##############################
##############################

##############################
    #2020 
##############################
    if 20201 in yrtrs2:
        collist_201 = stu_df2.loc[stu_df2['YRTR']==20201,'COLLEGE_NAME'].tolist()
        a201 = collist_201[0]
    else:
        a201 = 0

    if 20203 in yrtrs2:
        collist_203 = stu_df2.loc[stu_df2['YRTR']==20203,'COLLEGE_NAME'].tolist()
        a203 = collist_203[0]
    else:
        a203 = 0

    if 20205 in yrtrs2:
        collist_205 = stu_df2.loc[stu_df2['YRTR']==20205,'COLLEGE_NAME'].tolist()
        a205 = collist_205[0]
    else:
        a205 = 0
##############################
##############################
    #2021
##############################
    if 20211 in yrtrs2:
        collist_211 = stu_df2.loc[stu_df2['YRTR']==20211,'COLLEGE_NAME'].tolist()
        a211 = collist_211[0]
    else:
        a211 = 0
    
    if 20213 in yrtrs2:
        collist_213 = stu_df2.loc[stu_df2['YRTR']==20213,'COLLEGE_NAME'].tolist()
        a213 = collist_213[0]
    else:
        a213 = 0

    if 20215 in yrtrs2:
        collist_215 = stu_df2.loc[stu_df2['YRTR']==20215,'COLLEGE_NAME'].tolist()
        a215 = collist_215[0]
    else:
        a215 = 0
##############################
##############################
    #2022
##############################
    if 20221 in yrtrs2:
        collist_221 = stu_df2.loc[stu_df2['YRTR']==20221,'COLLEGE_NAME'].tolist()
        a221 = collist_221[0]
    else:
        a221g = 0

    if 20223 in yrtrs2:
        collist_223 = stu_df2.loc[stu_df2['YRTR']==20223,'COLLEGE_NAME'].tolist()
        a223 = collist_223[0]
    else:
        a223 = 0

    if 20225 in yrtrs2:
        collist_225 = stu_df2.loc[stu_df2['YRTR']==20225,'COLLEGE_NAME'].tolist()
        a225 = collist_225[0]
    else:
        a225 = 0
##############################
##############################
##############################
    #compile student into a single row of the matrix
##############################
    stu_enr = pd.DataFrame({
        'TECH_ID': stu,
        '_20201': a201,
        '_20203': a203,
        '_20205': a205,
        '_20211': a211,
        '_20213': a213,
        '_20215': a215,
        '_20221': a221,
        '_20223': a223,
        '_20225': a225,
        '20231': a231,
        '20233': a233,
        '20235': a235,
        '20241': a241,
        '20243': a243,
        '20245': a245},
        index=[1])
    df_enr = pd.concat([df_enr,stu_enr])

In [6]:
df_enr

,TECH_ID,_20201,_20203,_20205,_20211,_20213,_20215,_20221,_20223,_20225,20231,20233,20235,20241,20243,20245
1,81384,0,0,0,0,0,0,0,0,0,0,RCC,RCC,RCC,RCC,0
1,90325,0,0,0,0,0,0,0,0,0,RCC,RCC,RCC,0,WINONA STATE UNIVERSITY,0
1,93487,0,0,0,0,0,0,0,0,0,0,RCC,RCC,0,0,0
1,94603,0,0,0,0,0,0,0,0,0,0,RCC,RCC,RCC,RCC,0
1,118642,0,0,0,0,0,0,0,0,0,0,RCC,RCC,0,RCC,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,16398952,0,0,0,0,0,0,0,0,0,0,0,RCC,0,RCC,0
1,16399090,0,0,0,0,0,0,0,0,0,0,0,RCC,0,0,0
1,16420740,0,0,0,0,0,0,0,0,0,0,0,RCC,0,0,0
1,16422316,UNIVERSITY OF OKLAHOMA-NORMAN CAMPUS,0,UNIVERSITY OF OKLAHOMA-NORMAN CAMPUS,0,0,0,0,0,0,0,0,RCC,0,0,0
1,16426657,0,0,0,0,0,0,0,0,0,0,0,RCC,0,0,0

In [7]:
df_enr.to_csv("cohort23TransferMatrix.csv", index=False)