In [7]:
import pandas as pd
import numpy as np

In [8]:
rcc = pd.read_csv("rcc_stuSemesters.csv")  #a list of every semester that a student enrolled in and attended at least one course
other = pd.read_csv("other_stuSemesters.csv") #a list from APPSODS.TRANSFERS 
cohort21 = pd.read_csv("cohort21.csv")  #my list of a single FY cohort of students beginning in FY2020; taken from APPSODS.V_STUDENT_PERSISTENCE_DTL2
allColleges = pd.concat([rcc, other])  #a list of every semester that a student enrolled in anywhere

In [9]:
cohort_list = cohort21['TECH_ID'].unique().tolist()  #establish the group of people you want to run through this df
#IMPORTANT that you do not loop the allColleges df because it WILL take 45 minutes to execute

The below loop is currently catered to cohort FY20 of students ADM_STAT 11 or 12.
If you are not using a cohort of from APPSODS.V_STUDENT_PERSISTENCE_DTL2 or another table that establishes a start date, this WILL NOT WORK.
You will need to tweak the years as you do more cohorts

In [10]:
df_enr = pd.DataFrame(columns=['TECH_ID','_20181','_20183','_20185','_20191','_20193','_20195','_20201','_20203','_20205','20211','20213','20215','20221','20223','20225','20231','20233','20235','20241','20243','20245'])
#semester columns that are preceded with a _ means that those columns only looked in the "other" schools df because these semesters occurred before the student began at RCC
for i in cohort_list:
    a181,a183,a185,a191,a193,a195,a201,a203,a205,a211,a213,a215,a221,a223,a225,a231,a233,a235,a241,a243,a245 = 0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
    stu = i
    stu_df = allColleges.loc[allColleges['TECH_ID']==i,:]
    stu_df2 = other.loc[other['TECH_ID']==i,:]
    yrtrs = stu_df['YRTR'].unique().tolist()
    yrtrs2 = stu_df2['YRTR'].unique().tolist()
##############################

##############################
    #2021
##############################
    if 20211 in yrtrs:
        collist_211 = stu_df.loc[stu_df['YRTR']==20211,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_211:
            a211 = 'RCC'
        else:
            a211 = collist_211[0]
    else:
        a211 = 0
    
    if 20213 in yrtrs:
        collist_213 = stu_df.loc[stu_df['YRTR']==20213,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_213:
            a213 = 'RCC'
        else:
            a213 = collist_213[0]
    else:
        a213 = 0

    if 20215 in yrtrs:
        collist_215 = stu_df.loc[stu_df['YRTR']==20215,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_215:
            a215 = 'RCC'
        else:
            a215 = collist_215[0]
    else:
        a215 = 0
##############################
##############################
    #2022
##############################
    if 20221 in yrtrs:
        collist_221 = stu_df.loc[stu_df['YRTR']==20221,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_221:
            a221 = 'RCC'
        else:
            a221 = collist_221[0]
    else:
        a221 = 0

    if 20223 in yrtrs:
        collist_223 = stu_df.loc[stu_df['YRTR']==20223,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_223:
            a223 = 'RCC'
        else:
            a223 = collist_223[0]
    else:
        a223 = 0

    if 20225 in yrtrs:
        collist_225 = stu_df.loc[stu_df['YRTR']==20225,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_225:
            a225 = 'RCC'
        else:
            a225 = collist_225[0]
    else:
        a225 = 0
##############################
##############################
    #2023
##############################
    if 20231 in yrtrs:
        collist_231 = stu_df.loc[stu_df['YRTR']==20231,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_231:
            a231 = 'RCC'
        else:
            a231 = collist_231[0]
    else:
        a231 = 0

    if 20233 in yrtrs:
        collist_233 = stu_df.loc[stu_df['YRTR']==20233,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_233:
            a233 = 'RCC'
        else:
            a233 = collist_233[0]
    else:
        a233 = 0

    if 20235 in yrtrs:
        collist_235 = stu_df.loc[stu_df['YRTR']==20235,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_235:
            a235 = 'RCC'
        else:
            a235 = collist_235[0]
    else:
        a235 = 0
##############################
##############################
    #2024
##############################
    if 20241 in yrtrs:
        collist_241 = stu_df.loc[stu_df['YRTR']==20241,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_241:
            a241 = 'RCC'
        else:
            a241 = collist_241[0]
    else:
        a241 = 0

    if 20243 in yrtrs:
        collist_243 = stu_df.loc[stu_df['YRTR']==20243,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_243:
            a243 = 'RCC'
        else:
            a243 = collist_243[0]
    else:
        a243 = 0

    if 20245 in yrtrs:
        collist_245 = stu_df.loc[stu_df['YRTR']==20245,'COLLEGE_NAME'].tolist()
        if 'RIVERLAND COMMUNITY COLLEGE' in collist_245:
            a245 = 'RCC'
        else:
            a245 = collist_245[0]
    else:
        a245 = 0
##############################
##############################
##############################
    #begin TRANSFERRED-FROM section
##############################
##############################


##############################
    #2018 
##############################
    if 20181 in yrtrs2:
        collist_181 = stu_df2.loc[stu_df2['YRTR']==20181,'COLLEGE_NAME'].tolist()
        a181 = collist_181[0]
    else:
        a181 = 0

    if 20183 in yrtrs2:
        collist_183 = stu_df2.loc[stu_df2['YRTR']==20183,'COLLEGE_NAME'].tolist()
        a183 = collist_183[0]
    else:
        a183 = 0

    if 20185 in yrtrs2:
        collist_185 = stu_df2.loc[stu_df2['YRTR']==20185,'COLLEGE_NAME'].tolist()
        a185 = collist_185[0]
    else:
        a185 = 0
##############################
##############################
    #2019 
##############################
    if 20191 in yrtrs2:
        collist_191 = stu_df2.loc[stu_df2['YRTR']==20191,'COLLEGE_NAME'].tolist()
        a191 = collist_191[0]
    else:
        a191 = 0

    if 20193 in yrtrs2:
        collist_193 = stu_df2.loc[stu_df2['YRTR']==20193,'COLLEGE_NAME'].tolist()
        a193 = collist_193[0]
    else:
        a193 = 0

    if 20195 in yrtrs2:
        collist_195 = stu_df2.loc[stu_df2['YRTR']==20195,'COLLEGE_NAME'].tolist()
        a195 = collist_195[0]
    else:
        a195 = 0
##############################
##############################
    #2020 
##############################
    if 20201 in yrtrs2:
        collist_201 = stu_df2.loc[stu_df2['YRTR']==20201,'COLLEGE_NAME'].tolist()
        a201 = collist_201[0]
    else:
        a201 = 0

    if 20203 in yrtrs2:
        collist_203 = stu_df2.loc[stu_df2['YRTR']==20203,'COLLEGE_NAME'].tolist()
        a203 = collist_203[0]
    else:
        a203 = 0

    if 20205 in yrtrs2:
        collist_205 = stu_df2.loc[stu_df2['YRTR']==20205,'COLLEGE_NAME'].tolist()
        a205 = collist_205[0]
    else:
        a205 = 0
##############################
##############################
##############################
    #compile student into a single row of the matrix
##############################
    stu_enr = pd.DataFrame({
        'TECH_ID': stu,
        '_20181': a181,
        '_20183': a183,
        '_20185': a185,
        '_20191': a191,
        '_20193': a193,
        '_20195': a195,
        '_20201': a201,
        '_20203': a203,
        '_20205': a205,
        '20211': a211,
        '20213': a213,
        '20215': a215,
        '20221': a221,
        '20223': a223,
        '20225': a225,
        '20231': a231,
        '20233': a233,
        '20235': a235,
        '20241': a241,
        '20243': a243,
        '20245': a245},
        index=[1])
    df_enr = pd.concat([df_enr,stu_enr])

In [11]:
df_enr

,TECH_ID,_20181,_20183,_20185,_20191,_20193,_20195,_20201,_20203,_20205,...,20215,20221,20223,20225,20231,20233,20235,20241,20243,20245
1,24773,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,RCC,0,0,0,0,0,0
1,42476,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,RCC,0,RCC,RCC,0,0,0
1,91272,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,0,0,0,0,0,0,0
1,94654,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,104331,0,LIBERTY UNIVERSITY,0,0,0,0,0,0,0,...,RCC,RCC,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,15485713,0,0,0,0,0,0,0,0,0,...,RCC,0,0,RCC,0,0,0,0,0,0
1,15495030,0,0,0,0,0,0,0,0,0,...,RCC,0,0,0,0,0,0,0,0,0
1,15503704,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,RCC,0,RCC,RCC,0,RCC,0
1,15516931,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,RCC,0,RCC,RCC,0,0,0
1,15557987,0,0,0,0,0,0,0,0,0,...,RCC,0,RCC,RCC,0,0,0,0,0,0

In [12]:
df_enr.to_csv("cohort21TransferMatrix.csv", index=False)